*.log
bin/osx/backup/*.tgz

dotfiles/_backup/*
!dotfiles/_backup/README.md

tmp/

# Local aliases
.aliases-local

# Local functions
.functions-local

# Local paths
.paths-local

# Local options
.options-local

.vscode